.header-container {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block; 
    margin: 15px;
} 

.link-styles {
    text-decoration: none;
    color:white;
}

.header-wrap {
    display: flex;
    align-items: center;
}

/* .header-nav-item {
    font-size: 20px;
} */

.header-wrap {
    padding-left: 250px;
}